$colorPrimary: #ebebeb;

$colorGreyLight-1: #fafafa;
$colorGreyLight-2: #f9f9f9;
$colorGreyLight-3: #f7f7f7;
$colorGreyLight-4: #f5f5f5;
$colorGreyLight-44: #f0f0f0;
$colorGreyLight-5: #efefef;
$colorGreyLight-6: #eeeeee;
$colorGreyLight-7: #eaeaea;
$colorGreyLight-8: #e6e6e6;
$colorGreyLight-9: #e0e0e0;
$colorGreyLight-10: #dddddd;
$colorGreyLight-105: #d3d3d3;
$colorGreyLight-11: #cccccc;
$colorGreyLight-12: #bbbbbb;
$colorGreyLight-13: #a9a9a9;
$colorGreyLight-14: #aaaaaa;

$colorGreyDark-1: #999999;
$colorGreyDark-2: #888888;
$colorGreyDark-3: #777777;
$colorGreyDark-4: #666666;
$colorGreyDark-4-3: #555555;
$colorGreyDark-4-5: #444444;
$colorGreyDark-5: #333333;

$colorBlueLight-1: #bce8f1;
$colorBlueLight-2: #d9edf7;
$colorBlueLight-3: #3a87ad;

$colorBlueDark-1: #4b7296;
$colorBlueDark-2: #000066; // #006

$colorGreenLight-1: #dff0d8;
$colorGreenLight-2: #d6e9c6;

$colorRedLight-1: #f2dede;
$colorRedLight-2: #eed3d7;

$colorGreenDark-1: #00b900;

$colorGoldenLight-1: #fcf8e3;
$colorGoldenLight-2: #fbeed5;

$colorGoldenDark-1: #c09853;

$colorBlack: black;
$colorBlue: blue;
$colorGreen: green;
$colorIndianRed: indianred;
$colorRed: red;
$colorWhite: white;

$activeTab: #d54e21; // burnt orange

$headerLink: #ccccff;
