
#si_footer {
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $colorGreyDark-2;

    & a {
        color: $colorGreyDark-7;
    }

    & .si_wrap {
        text-align: center;
    }
}
