@use "../abstracts/variables" as v;

#si_footer {
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: v.$colorGreyDark-2;

    & a {
        color: v.$colorGreyDark-7;
    }

    & .si_wrap {
        text-align: center;
    }
}
