*.bak
*.swp
custom.config.*
%%*
*.tpl.php
*.log
tmp/*
.buildpath
.phpunit.result.cache
.project
public/**
.settings/**

### Exclude non-library extensions ###
extensions
!extensions/eway

library/HTMLPurifier/DefinitionCache/Serializer/HTML/*
templates/invoices/ftcc
templates/invoices/logos/
!templates/invoices/logos/_default_blank_logo.png
!templates/invoices/logos/simple_invoices_logo.png
!templates/invoices/logos/ubuntulogo.png

css
!css/main.css
!css/print.css

### PhpStorm intelliJ folder ###
.idea/**

