.si_filters {
    padding: 0;
    overflow: hidden;

    &_links {
        overflow: hidden;
        @include borderBackgroundFilter;

        & a {
            float: right;
            border-left: 1px solid $colorGreyLight-13;
            margin: 0 auto;
            padding: .8rem 1rem;
            min-width: 3rem;
            text-align: center;
            color: $colorGreyDark-7;
            text-shadow: 0 -1px 0 rgba($colorBlack, 0.2),
            0 1px 0 rgba($colorWhite, 1);
        }

        & a:hover {
            color: $colorGreyDark-4;
            background: $colorGreyLight-9;
        }

        & a.first {
            float: left;
            border-left: none;
        }

        & a.selected {
            background: $colorGreyLight-4;
            color: $colorGreyDark-6;
            text-shadow: 0 -1px 1px rgba($colorWhite, 0.9),
            0 1px 0 rgba($colorWhite, 1);
        }

        & img {
            margin-right: .7rem;
        }
    }

    &_title {
        color: $colorGreyDark-1;
        line-height: 3rem;
        margin: .5rem 1rem 0 1rem;
        vertical-align: top;
    }
}
