.flex {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
        row-gap: 1rem;
        height: 8rem;
        margin-bottom: 3rem;

        h3 {
            margin-top: 1.5rem;
            min-width: 13rem;
        }

        a {
            align-self: flex-end;
        }
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
