@use "../abstracts/variables" as v;

.si {
  &__help-div {
    margin: 1.5rem auto;
    text-align: center;
    border-top: 1px solid v.$colorGreyLight-6;
    padding: .5rem 1rem;
    width: 50rem;
    background-color: v.$colorWhite;

    & a {
      color: v.$colorGreyDark-4;
    }

    & a:hover {
      color: v.$colorBlack;
    }

    & img {
      vertical-align: bottom;
      line-height: 2.5rem;
      margin-right: 2px;
    }
  }

  &__index-help {
    float: right;
    margin: 0 auto 1rem auto;
    padding: 1.5rem;
    background: v.$colorGreyLight-9; // was #f5f5ff;
    border: 3px ridge v.$colorGreyLight-5;
    -webkit-border-radius: .7rem;
    border-radius: .7rem;
    line-height: 150%;
  }
}
