@use "../abstracts/variables" as v;

a {
    &.intro {
        font-size: 1.5em;
        font-weight: bold;
    }

    &:link,
    &:visited {
        text-decoration: none;
        color: v.$colorDarkBlue;
    }

    &.hook {
        color: v.$colorBlack;
        font-size: 1.5em;
        font-weight: bold;
    }

    &:hover {
        color: v.$colorBlue;

        &.hook {color: v.$colorBlack;}
    }

    &.anchor {
        &:link,
        &:visited,
        &:hover {
            color: v.$colorWhite;
            background: v.$colorWhite;
            font-size: 0;
            text-decoration: none;
            padding: 0;
        }
    }

    & img {
        border: 0;
    }

    &.image img {
        border: none;
        margin: 0;
        padding: 0;
    }

    &.image {
        &:link,
        &:visited,
        &:hover {
            border: none;
            background: none;
            padding: 0;
        }
    }

    &.toggle {
        &.active:link,
        &.active:visited,
        &.active:hover {
            background: v.$colorGreyDark-1 !important;
            color: v.$colorBlue !important;
            text-decoration: none;
            font-weight: 400 !important;
        }
    }
}
