.si {
    &_table_toolbar {
        & th,
        & td {
            padding-bottom: 10px;
            vertical-align: middle;
        }

        & th {
            font-weight: normal;
            text-align: right;
        }

        & td {
            text-align: left;
            padding-left: 20px;
        }
    }

    &_toolbar {
        text-align: center;

        &_top {
            margin-bottom: 20px;

            &_left {
                text-align: left;
                margin-left: 39px;
            }
        }

        & a,
        & button {
            margin: 0;
            padding: 8px 10px;
            @include borderBackgroundFilter;
            border-left: 1px solid $colorGreyLight-11;
            min-width: 30px;
            text-align: center;
            color: $colorGreyDark-5;
            text-shadow: 0 -1px 0 rgba($colorBlack, 0.2),
            0 1px 0 rgba($colorWhite, 1);
        }

        & a.selected {
            background: #f5f5f5;
            color: #444;
            text-shadow: 0 -1px 1px rgba($colorWhite, 0.9),
            0 1px 0 rgba($colorWhite, 1);
        }

        & img {
            margin-right: 7px;
        }

        & a:hover,
        & button:hover {
            color: $colorGreyDark-4;
            background: $colorGreyLight-8;
        }

        & a img,
        & button img {
            vertical-align: bottom;
            margin-right: 3px;
        }

        & .positive {
            font-weight: bold;
        }

        & .negative {
            opacity: 0.7;
        }

        &_form {
            margin: 10px 0;

            & a,
            & button {
                padding: 8px 15px;
                margin-left: 10px;
            }
        }

        &_inform {
            text-align: left;
            margin: 10px 0;


            & button,
            & a {
                font-size: 1rem;
                padding: 2px 6px;
                line-height: 15px;
                background: $colorGreyLight-5;
            }

            & img {
                height: 15px;
            }
        }

        &_dialog {
            display: grid;
            grid-template-columns: 1fr;

            & a,
            & button {
                display: block;
                margin: 10px;
                width: 220px;
            }

            & button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &_index {
        & .si_toolbar,
        &_reports .si_toolbar {
            text-align: left;
            padding-left: 2rem;
            padding-bottom: 3rem;
        }

        &_help {
            float: right;
            padding: 1.5rem;
            background: $colorGreyLight-4; // was #f5f5ff;
            border: 1px solid $colorGreyLight-10;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: .7rem;
            line-height: 150%;
        }
    }
}
