.si {
    &_toolbar {
        &_form {
            margin: 2rem;
            //
            //& a,
            //& button {
            //    padding: .8rem 1.5rem;
            //    margin-left: 1rem;
            //}
        }

        &_inform {
            text-align: left;
            margin: 10px 0;

            & button,
            & a {
                font-size: 1rem;
                padding: 2px 6px;
                line-height: 15px;
                background: $colorGreyLight-6;
            }

            & img {
                height: 15px;
            }
        }
    }

    &_table_toolbar {
        & th,
        & td {
            padding-bottom: 10px;
            vertical-align: middle;
        }

        & th {
            font-weight: normal;
            text-align: right;
        }

        & td {
            text-align: left;
            padding-left: 20px;
        }
    }
    //
    //& button {
    //    margin: 0;
    //    padding: 1rem 2rem;
    //    border: 1px solid $colorGreyLight-11;
    //    border-radius: 5rem;
    //    min-width: 3rem;
    //    text-align: center;
    //    color: $colorGreyDark-7;
    //    text-shadow: 0 -1px 0 rgba($colorBlack, 0.2),
    //    0 1px 0 rgba($colorWhite, 1);
    //}
    //
    //& a.selected,
    //& button.selected {
    //    background: #f5f5f5;
    //    color: #444;
    //    text-shadow: 0 -1px 1px rgba($colorWhite, 0.9),
    //    0 1px 0 rgba($colorWhite, 1);
    //}
    //
    //& img {
    //    margin-right: 7px;
    //}
    //
    //& button:hover {
    //    color: $colorGreyDark-4;
    //    background: $colorGreyLight-9;
    //}
    //
    //& button img {
    //    vertical-align: bottom;
    //    margin-right: 3px;
    //}
    //
    //& .positive {
    //    font-weight: bold;
    //}
    //
    //& .negative {
    //    opacity: 0.7;
    //}
}
