@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    //box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5%; */
}

body {
    font-family: arial, verdana, helvetica, sans-serif;
    background: $colorPrimary;
    font-size: 1.6rem;
    color: $colorGreyDark-7;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;

    &_double {
        text-decoration-line: underline;
        text-decoration-style: double;
    }
}

.nowrap {
    white-space: nowrap;
}

p {
    margin: 0 0 15px;
}

hr {
    background-color: $colorBlack;
    height: 1px;
    border: 0;
    margin: 10px 0;
}

.width {
    // @formatter:off
    &_100 { width: 100%; }
    &_95 { width: 95%; }
    &_70 { width: 70%; }
    &_60 { width: 60%; }
    &_55 { width: 55%; }
    &_50 { width: 50%; }
    &_40 { width: 40%; }
    &_30 { width: 30%; }
    &_25 { width: 25%; }
    &_20 { width: 20%; }
    &_15 { width: 15%; }
    &_10 { width: 10%; }
    // @formatter:on
}

pre {
    font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
    background: inherit;
    color: $colorGreyDark-7;
    font-size: 80%;
}

#si_header {
    margin: 0;
    padding: 0;
    line-height: 240%;
    text-align: right;
    background: $colorGreyDark-2;
    color: $colorGreyLight-7;
    border-bottom: 1px solid $colorGreyDark-4;
    font-size: 1.1rem;

    & .si_wrap {
        padding-right: 30px;
        text-align: right;
    }

    & a {
        color: $headerLink;
    }
}

.container {
    max-width: 120rem;
    margin: 0 auto;

    padding: 1rem 1rem 2rem 1rem;
    background: white;

    border: none;
    border-radius: 0;
    z-index: 1;
    -moz-box-shadow: 0 3px 5px $colorGreyLight-13;
    -webkit-box-shadow: 0 3px 5px $colorGreyLight-13;
    box-shadow: 0 3px 5px $colorGreyLight-13;
    overflow: hidden;
}

.validation_alert {
    font-weight: 700;
    color: $colorWhite;
    background-color: $colorRed;
    padding: 10px;
}

img.action {
    vertical-align: bottom;
    height: 1.5rem;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: 3px;
}

.error {
    color: $colorRed;
}
