.grid__area {
    width: 90%;
    margin: 0 auto;
}

.grid__area-totals {
    width: 70%;
    grid-column-gap: 2rem;
    margin: 0 auto;

    & h4 {
        text-align: center;
        padding: 0;
        margin: 0 0 7px 0;
        color: $colorGreyDark-2;
        font-weight: bold;
    }

    & h5 {
        font-weight: bold;
        padding: 0 0 8px 0;
        margin: 0;
    }

    &--financial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &--area {
            border: 1px solid $colorGreyLight-11;
            margin-right: 10px;
        }

        &--invoice {
            &-box1 {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            &-box2 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

.grid__head-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid__head-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid__head-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cols__1-span-2 { grid-column: 1 / span 2; }

.cols__1-span-3 { grid-column: 1 / span 3; }

.cols__1-span-4 { grid-column: 1 / span 4; }

.cols__1-span-5 { grid-column: 1 / span 5; }

.cols__1-span-6 { grid-column: 1 / span 6; }

.cols__1-span-8 { grid-column: 1 / span 8; }

.cols__1-span-10 { grid-column: 1 / span 10; }

.cols__2-span-1 { grid-column: 2 / span 1; }

.cols__2-span-2 { grid-column: 2 / span 2; }

.cols__2-span-3 { grid-column: 2 / span 3; }

.cols__2-span-4 { grid-column: 2 / span 4; }

.cols__2-span-5 { grid-column: 2 / span 5; }

.cols__2-span-8 { grid-column: 2 / span 8; }

.cols__2-span-9 { grid-column: 2 / span 9; }

.cols__3-span-1 { grid-column: 3 / span 1; }

.cols__3-span-3 { grid-column: 3 / span 3; }

.cols__3-span-4 { grid-column: 3 / span 4; }

.cols__3-span-7 { grid-column: 3 / span 7; }

.cols__3-span-8 { grid-column: 3 / span 8; }

.cols__4-span-6 { grid-column: 4 / span 6; }

.cols__5-span-1 { grid-column: 5 / span 1; }

.cols__6-span-2 { grid-column: 6 / span 2; }

.cols__6-span-5 { grid-column: 6 / span 5; }

.cols__7-span-2 { grid-column: 7 / span 2; }

.cols__8-span-3 { grid-column: 8 / span 3; }

.cols__9-span-1 { grid-column: 9 / span 1; }

.cols__9-span-2 { grid-column: 9 / span 2; }

.cols__10-span-1 { grid-column: 10 / span 1; }

.pad__top_1 { padding-top: 1em;}

.pad__right_1 { padding-right: 1em;}

div.si_product_attribute {
    padding-right: 15px;
    color: $colorGreyDark-4;
    border-top: none;
    font-size: 1.1rem;
}

div.even { background-color: rgba($colorWhite, 1.0); }
div.odd { background-color: rgba($colorGreyLight-5, .8); }

.si_hide,
a.si_hide{
    display: none;
}

.si_invoice {

    &_form {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    &_top,
    &_bot {
        margin-bottom: 10px;
    }

    &_bot {
        width: 100%;
    }

    &_top th,
    &_bot th {
        color: $colorGreyDark-4;
        text-align: left;
        font-weight: bold;
        padding: 7px 15px 7px 0;
    }

    &_total th {
        width: auto;
        text-align: left;
        padding-bottom: 2px;
    }

    &_total td {
        padding-bottom: 10px;
    }

    &_items thead td {
        font-size: 10px;
        color: $colorGreyDark-2;
        border-bottom: 1px solid $colorGreyLight-11;
        padding-bottom: 3px;
    }

    &_items td {
        padding: 2px 8px;
        border-bottom: 1px dotted $colorGreyLight-10;
    }

    &_items .details textarea {
        width: 100%;
        font-size: 1.4rem;
        color: $colorGreyDark-4-3;
    }

    &_notes h5 {
        padding: 0;
        margin: 0 0 4px 0;
        /*font-size: 1.2rem;*/
        font-weight: normal;
    }

    &_account {
        overflow: hidden;
        margin: 2rem auto 0 auto;

        & h4 {
            /*font-size: 1.3rem;*/
            text-align: center;
            padding: 0;
            margin: 0 0 7px 0;
            color: $colorGreyDark-2;
            font-weight: bold;
        }

        & h5 {
            /*font-size: 1.2rem;*/
            font-weight: bold;
            padding: 0 0 8px 0;
            margin: 0;

        }

        & div {
            float: left;
            border: 1px solid $colorGreyLight-11;
            height: 70px;
            padding: 10px;
            margin-right: 10px;
        }

        & th,
        & td {
            padding: 2px 15px;
            text-align: right;
        }

        & th {
            font-weight: bold;
            color: $colorGreyDark-3;
            text-align: center;
        }
    }

    &_view {
        margin: auto;
        width: 85%;

        & th {
            font-weight: normal;
            padding-right: 10px;
            color: $colorGreyDark-3;
        }

        & th,
        & td {
            padding: 3px 2px;
        }

        & .tr_head th {
            font-weight: bold;
            color: $colorGreyDark-3;
            width: 18rem;
        }

        & .tr_head th,
        & .tr_head td {
            padding-top: 10px;
            border-bottom: 1px dashed $colorGreyLight-14;
        }

        & .tr_notes td {
            padding-bottom: 2rem;
        }

        & .tr_total td {
            font-weight: bold;
        }

        & .si_switch {
            text-align: right;
        }

        &_items {
            width: 85%;
            margin: auto;
            border-bottom: 1px solid $colorGreyLight-10;
            color: $colorGreyDark-3;

            & .si_switch {
                padding-right: 0;
            }

            & td {
                padding: 10px 0 2px 0;
                border-top: 1px solid $colorGreyLight-10;
                white-space: nowrap;
                vertical-align: top;
            }

            & td.td_amount {
                padding: 10px 10px 2px 0;
            }

            & td.td_product {
                width: 80%;
                white-space: normal;
            }

            & td.td_quantity {
                padding: 10px 10px 2px 0;
            }

            & .tr_desc td {
                border-top: none;
                color: $colorGreyDark-4;
                font-size: 1.4rem;
                padding: 0 0 5px 0;
            }

            & .tr_custom td {
                border-top: none;
            }

            //& .si_right {
            //    padding: 2px 0 2px 10px;
            //}
        }

        &_custom_items {
            width: 100%;
            margin-bottom: 15px;

            & th,
            & td {
                font-size: 1.1rem;
                color: $colorGreyDark-4;
                border-top: none;
                padding: 1px 3px;
            }

            & th {
                color: $colorGreyDark-2;
                text-align: right;
                width: auto;
                min-width: auto;
                padding-left: 15px;
                padding-right: 8px;
                white-space: nowrap;
            }

            & td {
                width: 30%;
            }
        }
    }
}

td.si_invoice_notes {
    color: $colorGreyDark-4;
    margin-bottom: 3px;
    padding: 0 0 10px 0;
}
