#si_page_updates {
    & .si_list li {
        list-style: none;
        padding: 1px 0 1px 3rem;
        margin: 0;
        border-bottom: 1px dotted $colorGreyLight-13;
        font-size: 1.1rem;
        line-height: 14px;

        &.li_skip {
            background: url(../images/tick.png) 6px 0 no-repeat;
            opacity: 0.7;
        }

        &.li_todo {
            color: $colorBlueDark-2;
        }

        &.li_done {
            background: url(../images/tick.png) 6px 0 no-repeat;
            color: black;
        }
    }

    & hr { margin: 2rem 0; }

    & ul {
        margin: 0;
        padding: 0;
    }
}
