@media (max-width: 770px) {
  .mobileOnly {
    /*
    display: block; !* Show on mobile *!
    */
  }

  .desktopOnly {
    display: none; /* Hide on mobile */
  }
}

@media (min-width: 771px) {
  .mobileOnly {
    display: none; /* Hide on desktop */
  }

  .desktopOnly {
    /*
    display: block; !* Show on desktop *!
    */
  }
}
