# ENABLE DIRECTORY VIEWS
Options +Indexes
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble
# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>
# SPECIFY HEADER FILE
#HeaderName /htdir/header.html
# SPECIFY FOOTER FILE
#ReadmeName /htdir/footer.html
AddType text/html .html
<Files ~ "^[^.].*">
 order allow,deny
 allow from all
</Files>
